<!-- Clients Aside -->
 
  <section id="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Aktuelles</h2>
                    <h3 class="section-subheading text-muted">Aktuelle Beiträge von Youtube und Facebook </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
               
                    <div class="responsive-video">
<iframe width="853" height="480" src="https://www.youtube.com/embed/videoseries?list=PLB5yjfHQOovfNWEjQGTqoKKSv3Yl_mUME" frameborder="0" allowfullscreen></iframe>
</div>
                  
                    
                </div>
                
                
                <div class="col-md-6">
              <div class="fb-page" data-href="https://www.facebook.com/TobiasKoehnMusic" data-tabs="timeline" data-width="560" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/TobiasKoehnMusic"><a href="https://www.facebook.com/TobiasKoehnMusic">Tobias Koehn Music</a></blockquote></div></div>
                    
                </div>
            </div>
        </div>
    </section>