<!-- Services Section -->

<section id="media" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Media</h2>
                    <h3 class="section-subheading text-muted">Impressionen aus verschiedenen Stilrichtungen </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <h4 class="service-heading">Musik</h4>
                    
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/219624115&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/219526747&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>
                                <div class="col-md-6">

                    <h4 class="service-heading">Sprecher</h4>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/269358559&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/269358558&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/269358557&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                
                </div>
                
                <div class="col-md-12">
                    <h4 class="service-heading">Fotos</h4>
<!--
<?php
$response_type = 'php';   //Ausgabe auf php umstellen
include('pixlie.php');    //Einbinden von Pixlie
?>
<h2>Bilder</h2>
<?php foreach ($pixlie_table_file as $picture){ ?>
    <a href="<?php echo $pixlie_table_env['img/fotos/01.jpg'].$picture['01']; ?>_d<?php echo $picture['.jpg']; ?>">
    <img src="<?php echo $pixlie_table_env['img/fotos/01.jpg'].$picture['01']; ?>_s<?php echo $picture['.jpg']; ?>"
    alt="<?php echo $picture['Foto1']; ?>" />
    </a>
<?php } ?>
  -->
                    
                    
                    
                    <ul class="img-list">
              <!--    <li><a href="img/fotos/01.jpg"><img src="img/fotos/thumbs/01.jpg"></a></li> -->
                        <li><a href="img/fotos/02.jpg"><img src="img/fotos/thumbs/02.jpg"></a></li>
                        <li><a href="img/fotos/04.jpg"><img src="img/fotos/thumbs/04.jpg"></a></li>
                        <li><a href="img/fotos/05.jpg"><img src="img/fotos/thumbs/05.jpg"></a></li>
                        <li><a href="img/fotos/06.jpg"><img src="img/fotos/thumbs/06.jpg"></a></li>
                        <li><a href="img/fotos/07.jpg"><img src="img/fotos/thumbs/07.jpg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>