<!-- Services Section -->
    <section id="projekte">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projekte</h2>
                    <h3 class="section-subheading text-muted">Aktuelle Bandprojekte und Engagements.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <a href="http://www.unbewegt.de" target="_blank"><img src="img/dub.jpg" alt="dub" class="img-round"></a>
                    <h4 class="service-heading">Die unbewegten Beweger</h4>
                    <p class="text-muted">5 Jungs aus OWL, jeder auf mindestens einem Gebiet ein Meister seines Fachs, sei es Gesang, Gitarre, Piano, Cajon, Schauspiel, Comedy oder Entertainment, finden sich musikalisch am liebsten a cappella zusammen. Interpretiert werden Hits der Wise Guys und Basta, sowie eigene Arrangements.</p>
                </div>
                <div class="col-md-3">
                    <a href="http://groove-juice.de" target="_blank"><img src="img/gj.png" alt="groove juice" class="img-round"></a>
                    <h4 class="service-heading">Groove Juice</h4>
                    <p class="text-muted">100% live – Pop, Funk und Soul für Ihre Gala, Messe-Party oder Ihr Stadtfest! <br> <p class="text-muted">

Mit einer Mischung aus alten Klassikern von Stevie Wonder, Bill Withers oder Aretha Franklin und neuen Party-Krachern von Jessie J, Bruno Mars oder Daft Punk sorgen wir für Stimmung und Tanzfreude auf Ihrer Veranstaltung!</p>
                </div>
                <div class="col-md-3">
                    <a href="http://www.schlosstheater-hoexter.de" target="_blank"><img src="img/credo.png" alt="schlosstheater" class="img-round"></a>
                    <h4 class="service-heading">Schlosstheater Höxter</h4>
                    <p class="text-muted">Musik-Revue "Mann o Mann!". Premiere 26. Januar 2016</p>
                </div>
                   <div class="col-md-3">
                    <a href="http://www.l-unico.de" target="_blank"><img src="img/lunico.png" alt="lunico" class="img-round"></a>
                    <h4 class="service-heading">L'Unico 89,4 </h4>
                    <p class="text-muted">Das Paderborner Uniradio L'Unico sendet 24/7. Morgens Morningshow, abends Musikformate, dazwischen eine exquisite Musikrotation. Schaltet rein auf 89,4MHz (in Paderborn) oder <a href="http://www.l-unico.de"> hier</a> per Webstream! <br> Mein Job hier ist das Einsprechen von Trailern, Teasern und Jingles als Station-Voice. </p>
                </div>
            </div>
        </div>
    </section>
