<!-- Services Section -->
    <section id="unterricht">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Unterricht</h2>
                    <h3 class="section-subheading text-muted">Klavier– und Keyboardunterricht für Anfänger und Fortgeschrittene.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/unterricht/piano.jpg" alt="grand_piano" class="img-round">
                        <h4 class="service-heading">Klavierunterricht</h4>
                    </div>
                    <p class="text-muted">Unterricht für jedes Alter nach Maß und zu fairen Preisen. <br> Klavier spielen heißt nicht Noten pauken, sondern eine fundierte, musikalische Ausbildung zu erwerben. Aus diesem Grund fächere ich meinen Unterricht sehr breit und binde verschiedene Bereiche in den Unterricht mit ein: </p>

                    <ul class="text-muted">
                        <li>Noten- und Harmonielehre</li> 
                        <li>Gehörbildung</li> 
                        <li>Liedbegleitung, Akkordspiel und Improvisation</li> 
                        <li>Einblicke in Musikgeschichte und Instrumentenkunde</li> 
                    </ul> 

                    <p><strong>Es ist nie zu spät, ein Instrument zu lernen! </strong></p>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="img/unterricht/keyb.jpg" alt="keyboard" class="img-round">
                        <h4 class="service-heading">Keyboard-Unterricht</h4>
                    </div>
                    <p class="text-muted">Klavier- und Keyboardspiel basieren auf den selben spieltechnischen Grundlagen. Der Keyboardunterricht legt jedoch, durch elektronische Unterstützung, wie zum Beispiel die Begleitautomatik, einen anderen Schwerpunkt als der Klavierunterricht. <br> Auch im Band–Kontext kann ich Hilfestellungen und Tipps geben.  </p>
             
                </div>
            </div>
        </div>
    </section>
